/*
 *  Style Used for LOGON SCREENS
 */
#logonWindowPane {

    -fx-padding: 0 0 0 0;
    -fx-background-color: #3c4f4cff;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;  
    -fx-min-width : -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
}

.logonCommon {
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color:     rgba(168, 189, 185, 0.6);
}
.logonFXPane {

    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;  
    -fx-min-width : 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}


.logonFXPane:pressed {
    -fx-border-color:     rgba(168, 189, 185, 0.6);
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-effect: innershadow(two-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}
.jfxButton {
    -fx-background-color: #1f7f6a;

}

.logonFXForm {

    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;  
    -fx-border-color:     rgba(168, 189, 185, 0.6);
    -fx-min-width : 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}

.projectPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 400px;
}


#buttonConnect{
    -fx-background-color:   #266558; 
}

.linkHelpLogon {
    -fx-text-fill: #2F3737; 
    -fx-font-size: 15px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.linkHelpLogon:hover {
    -fx-font-weight: bold;
}

#registerForm {
    -fx-min-height: 500px;
    -fx-pref-height: 500px;
    -fx-max-height: 500px; 

    -fx-min-width : 400px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}

#buttonRegister {
    -fx-background-color:   #266558; 
    -fx-text-fill:honeydew;
}

#buttonConfirm {
    -fx-background-color:   #266558; 
    -fx-text-fill:honeydew;
}


