<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %X{pid} --- [%15.15t] %-40.40logger{1.} : %m%n
        </Property>
        <Property name="CONSOLEPATERN">%d{yyyy-MM-dd HH:mm:ss} %5p : %m%n%wEx</Property>
        <Property name="APPLICATION_LOG_LEVEL">${sys:log.level}</Property>
    </Properties>
    <Appenders>
        <File name="CUSTOMLOG" fileName="../logs/gentreeserver.log">
            <PatternLayout pattern="${PATTERN}"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLEPATERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="gentree.server" level="TRACE">
            <appender-ref ref="CUSTOMLOG"/>
            <appender-ref ref="STDOUT" level="INFO"/>
        </Logger>
        <Root level="FATAL" additivity="false">
        </Root>
    </Loggers>
</Configuration>