/*
    Created on : 14 oct. 2016, 21:07:45
    Author     : vanilka
*/

/*
    Colors Definition
*/

.root {
    -gentree-main-backgorund-color: #3c4f4c;
    -gentree-dark-selen: #266558;
    -gentree-dark-green-grey: #2F3737;
    -gentree-medium-grey: #404A4B;
    -gentree-greem-markup: #81d136;
    -gentree-focus-color: rgba(82, 202, 0, 0.9);
    -gentree-content-pane: rgba(230, 255, 251, 0.2);
    -gentree-textfield-text-color: #ecf2dd;
    -gentree-textfield-unfocus-text-color: #acbdb2;
    -gentree-textfield-error-color: #9E0303;
    -gentree-dark-selen-button: #214e41;
    -gentree-dark-pane: rgba(28, 32, 29, 0.40);
    -gentree-font-beidge: #faffd5;
}

/*
    Root Windows
*/
#rootWindow {
    -fx-min-height: 700px;
    -fx-min-width: 1200px;
}

/*
    Main AnchorPane  (Center Possition)
*/
.mainAnchorPane {

    -fx-padding: 0 0 0 0;
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
}

.gt-screen {

}

.gt-element-block {

}

.split-pane {
    -fx-background-color: transparent;
}

/*
    Menu Bar ->  Language Chooser
*/
#languageChooser {
    -fx-background-color: -gentree-dark-green-grey;
    -fx-border-color: -gentree-dark-selen;
    -fx-border-style: dotted;
}

#languageChooser:showing {
    -fx-background-color: -gentree-dark-selen;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#languageChooser .cell {
    -fx-text-fill: #E0E4E3;
    -fx-padding: 0 10 0 10;
}

#languageChooser .list-view {
    -fx-border-color: -gentree-dark-selen;
    -fx-border-style: dotted;
}

#languageChooser .list-view .list-cell {
    -fx-background-color: -gentree-medium-grey;
    -fx-text-fill: #E0E4E3;
    -fx-padding: 0 10 0 10;
    -fx-border-color: -gentree-dark-selen;
    -fx-border-style: dotted;
}

#languageChooser .list-view .list-cell:filled:hover {
    -fx-background-color: -gentree-dark-selen;
}

/*
    Menu Bar
*/
#menuBarPane {
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
}

.menu-bar {
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: -gentree-dark-green-grey;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu {
    -fx-background-color: -gentree-dark-green-grey;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 100px;
    -fx-border-color: -gentree-dark-selen;
    -fx-border-style: dotted;
}

.menu:hover {
    -fx-background-color: -gentree-dark-selen;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu .label {
    -fx-text-fill: #E0E4E3;
    -fx-padding: 0 10 0 10;
}

.menu:showing {
    -fx-background-color: -gentree-dark-selen;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu-item .label {
    -fx-text-fill: #E0E4E3;
    -fx-padding: 0 10 0 10;
}

.menu-item:focused {
    -fx-background-color: -gentree-dark-selen;
}

.menu-item:focused .label {
    -fx-text-fill: #E0E4E3;
}

.context-menu {
    -fx-background-color: -gentree-medium-grey;
    -fx-min-width: 150px;
    -fx-border-color: -gentree-medium-grey;
}

/*
    Notifications
 */

.notification-bar.dark > .pane {
    -fx-background-color: -fx-outer-border, -fx-inner-border, linear-gradient(#595959, #470c39 37%, #343434);
}

.notification-bar.dark > .pane .title,
.notification-bar.dark > .pane .label {
    -fx-text-fill: #ebebeb;
}

/*
    Footer
*/

.footer {
    -fx-background-color: -gentree-dark-green-grey;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#footerCopyright {
    /*  padding : TOP, RIGHT, BOTTOM, LEFT */
    -fx-alignment: center;
    -fx-text-fill: #E0E4E3;
    -fx-font-size: 20px;
}

/*
    MainApplication Windows -?
*/

#chooseAppType {
    -fx-padding: 0 0 0 0;
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
    -fx-background-image: url("/layout/images/backgrounds/TestBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

.projectPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 400px;
}

#LocalProjectPane {

}

#OnlineProjectPane {
}

/*
*  COMMONS
*/
.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
    /* -fx-prompt-text-fill: #c8c8bb;*/
    -fx-prompt-text-fill: -gentree-textfield-unfocus-text-color;
    -fx-text-fill: -gentree-textfield-text-color;
    -fx-alignment: top-left;
    -jfx-focus-color: -gentree-greem-markup;
    -jfx-unfocus-color: -gentree-medium-grey;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

/*
 *  Style Used for LOGON SCREENS
 */
#logonWindowPane {

    -fx-padding: 0 0 0 0;
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
}

.logonCommon {
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: rgba(168, 189, 185, 0.6);
}

.logonFXPane {

    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
    -fx-min-width: 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}

.logonFXPane:pressed {
    -fx-border-color: rgba(168, 189, 185, 0.6);
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.jfxButton {
    -fx-background-color: -gentree-dark-selen;
    -fx-text-fill: -gentree-textfield-text-color;
    -fx-font-size: 18px;
}

.logonFXForm {

    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
    -fx-border-color: rgba(168, 189, 185, 0.6);
    -fx-min-width: 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}

.projectPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 400px;
}

#buttonConnect {
    -fx-background-color: -gentree-dark-selen;
}

.linkHelpLogon {
    -fx-text-fill: #2F3737;
    -fx-font-size: 15px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.linkHelpLogon:hover {
    -fx-font-weight: bold;
}

#registerForm {
    -fx-min-height: 500px;
    -fx-pref-height: 500px;
    -fx-max-height: 500px;

    -fx-min-width: 400px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}

#buttonRegister {
    -fx-background-color: -gentree-dark-selen;
    -fx-text-fill: honeydew;
}

#buttonConfirm {
    -fx-background-color: -gentree-dark-selen;
    -fx-text-fill: honeydew;
}

/*
*  TableView
*/

.firstTypeTable {
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(230, 255, 251, 0.2);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.firstTypeTable .filler {
    -fx-background-color: -gentree-dark-green-grey;
    -fx-background-radius: 20 20 0 0;

}

/*
    Empty header (without column)
*/

.firstTypeTable .column-header-background {

    /* Color of column header (all panel)*/
    -fx-background-color: -gentree-dark-green-grey;
    -fx-background-radius: 20 20 0 0;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

}

.firstTypeTable .column-header {
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: -gentree-dark-green-grey;
}

.firstTypeTable .column-header .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/*
    WelcomeWindow ->  TableView with Projects
*/
#projectsList {
    /* Scroll*/
    /*-fx-base:  -gentree-dark-green-grey ;*/

    /*Cells background*/
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-padding: 0 0 20 0;
    -fx-pref-width: 540px;
    -fx-pref-height: 500px;

}

#projectsList .scroll-bar:vertical, #projectsList .corner {

    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#projectsList .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
}

/*
    Column-header
*/
#projectsList .column-header {
    -fx-size: 50;

}

#projectsList .cell {
    -fx-cell-size: 50px;
    -fx-border-color: transparent;
}

#projectsList .column-header .label {
    -fx-font-size: 25pt;
    -fx-padding: 0 0 0 30;

}

#projectsList .table-row-cell,
#projectsList:focused .table-row-cell {
    -fx-border-color: transparent transparent linear-gradient(from 0% 0% to 100% 0%,
    transparent 0%,
    -gentree-dark-green-grey 30%,
    -gentree-dark-green-grey 70%,
    transparent 100%) transparent;
    -fx-border-width: 2;
    -fx-border-insets: 0 20 0 20;

}

.firstTypeTable .table-cell {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
}

#projectsList .table-cell {
    -fx-font-size: 15pt;
    -fx-padding: 0 0 0 50;
    -fx-alignment: center-left;

}

#projectsList:focused .table-row-cell:filled:focused:selected,
#projectsList .table-row-cell:filled:focused:selected {
    -fx-background-color: -gentree-focus-color;
    -fx-background-insets: 0 20 0 20;
}

.firstTypeTable .scroll-bar:vertical .thumb {

    -fx-background-color: derive(#81d136, 10%);

    -fx-background-insets: 2, 0, 0;

    -fx-background-radius: 2em;

}

#vbox_newProject {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 200px;
    -fx-pref-height: 500px;
    -fx-min-width: 200px;
    -fx-min-height: 500px;
    -fx-max-width: 200px;
    -fx-max-height: 500px;
    -fx-alignment: bottom-right;
}

#firstBoule {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#refreshProjectList {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-background-image: url("/layout/images/backgrounds/refreshlist.png");
    -fx-background-position: center;

}

#createNewProject {
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-image: url("/layout/images/backgrounds/new.png");
    -fx-background-position: center;

}

.newProjectSphere {
    -fx-border-color: rgba(168, 189, 185, 0.6);
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
    -fx-border-width: 4px;
    -fx-background-radius: 100 100 100 100;
    -fx-border-radius: 100 100 100 100;
}

.newProjectSphere:hover {
    -fx-border-color: derive(#81d136, 10%);
}

.newProjectSphere:pressed {

    -fx-border-color: derive(#81d136, 10%);
    -fx-border-width: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.2, 0, 0);
    /*-fx-border-color: rgba(168, 189, 185, 0.9);*/
}

/*
*  DIALOGS WINDOWS
*/

#newProjectDialog {
    -fx-min-height: 250px;
    -fx-pref-height: 250px;
    -fx-max-height: 250px;
    -fx-min-width: 450px;
    -fx-pref-width: 450px;
    -fx-max-width: 450px;
    -fx-background-color: -gentree-main-backgorund-color;

}

.ButtonJFX {
    -fx-background-color: -gentree-dark-selen;
    -fx-font-size: 18px;
}

/*
*    MainApplication window
*/

.gt-splitpane > .split-pane-divider {
    -fx-background-color: transparent;
    /*-fx-background-color: -gentree-dark-green-grey;*/
    -fx-effect: dropshadow(gaussian, black, 4, 0.1, 0, 0);

}

#family_member_table {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

#family_relation_table {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.tableMembersAndRelations .cell {
    -fx-border-color: transparent;
}

.tableMembersAndRelations .table-row-cell,
.tableMembersAndRelations:focused .table-row-cell {
    -fx-border-color: transparent transparent linear-gradient(from 0% 0% to 100% 0%,
    transparent 0%,
    -gentree-dark-green-grey 30%,
    -gentree-dark-green-grey 70%,
    transparent 100%) transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 0 0;

}

.tableMembersAndRelations .scroll-bar:vertical, .tableMembersAndRelations .corner {

    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.tableMembersAndRelations .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.tableMembersAndRelations:focused .table-row-cell:filled:focused:selected,
.tableMembersAndRelations .table-row-cell:filled:focused:selected {
    -fx-background-color: -gentree-dark-selen;
    -fx-background-insets: 0 0 0 0;
}

#family_relation_table .cell {

    -fx-cell-size: 90px;
}

#addMemberButton {
    -fx-background-color: -gentree-dark-selen;
}

.gt_MaintabContentPane {
    -fx-background-color: transparent;
    -fx-pref-width: 1000;
    -fx-pref-height: 180;
    -fx-padding: 0 50 0 50;
}

#gtMainTabPane {
    -fx-background-color: -gentree-content-pane;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;

}

#gtMainTabPane .tab-header-area .tab-header-background {
    -fx-background-color: -gentree-dark-green-grey;
    -fx-background-radius: 10 10 0 0;
}

#gtMainTabPane .tab:selected {
    -fx-background-color: -gentree-dark-selen;
    /*-fx-background-color: -gentree-focus-color;*/
    -fx-background-radius: 10 10 0 0;
}

#gtMainTabPane .tab:selected .jfx-rippler {
    -fx-rippler-fill: -gentree-greem-markup;
}

#gtMainTabPane .tab-header-area .tab-selected-line {
    -fx-stroke: -gentree-greem-markup;
}

#gtMainTabPane .tab {
    -fx-background-color: -gentree-medium-grey;
    -fx-background-radius: 10 10 0 0;
}

.radioButtonFX {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -gentree-font-beidge;
    -fx-selected-color: -gentree-greem-markup;
}

.tabInfoButton {
    -fx-pref-height: 90px;
    -fx-pref-width: 140px;
}

#tabInfoButtonVbox {
    -fx-spacing: 50px;
    -fx-alignment: center-left;
}

.imagePane {
    -fx-background-color: -gentree-dark-green-grey;

}

.workingPane {
    -fx-background-color: -gentree-content-pane;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;

}

.gtTransparentPane,
.gtTransparentPane > .viewport {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;

}

.gtTransparentPane .scroll-bar:vertical,
.gtTransparentPane .scroll-bar:horizontal,
.gtTransparentPane .corner {
    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.gtTransparentPane .scroll-bar:vertical .thumb,
.gtTransparentPane .scroll-bar:horizontal .thumb {

    -fx-background-color: derive(#81d136, 10%);

    -fx-background-insets: 2, 0, 0, 0;

    -fx-background-radius: 2em;
}

#childrenSPane {
    -fx-background-color: transparent;
    -fx-border-color: -gentree-dark-green-grey;
    -fx-border-width: 4;
    -fx-border-radius: 20 20 20 20;
    -fx-padding: 0 20 0 20;
    -fx-spacing: 20;
}

#projectContent {
    -fx-spacing: 50;
}

#infoRelationContentHBox {

    -fx-spacing: 20;
}

#buttonShowMemberTable {
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
}

#buttonShowRelationTable {
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0;
}

#anchorToogleButtons {
    -fx-border-color: rgba(168, 189, 185, 0.4);
    -fx-border-width: 3;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.toogleButtonShowTable {
    -fx-background-color: rgba(168, 189, 185, 0.4);
    -fx-text-fill: -gentree-font-beidge;
    -fx-font-size: 14px;
}

.toogleButtonShowTable:pressed, .toogleButtonShowTable:selected {
    -fx-background-color: -gentree-greem-markup;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);

}

.gt_darkPane {
    -fx-background-color: -gentree-dark-pane;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-text-fill: -gentree-font-beidge;
}

.gt-combobox {
    -fx-background-color: -gentree-dark-pane;
}

.gt-combobox .list-cell {
    -fx-background: rgba(28, 32, 29, 0.6);
    -fx-background-color: transparent;
    -fx-text-fill: -gentree-font-beidge;
    -fx-padding: 3 0 2 15;
}

.gt-combobox .list-view {
    -fx-background-color: rgba(28, 32, 29, 0.6);
    -fx-background-insets: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.gt-combobox .list-cell:hover {
    -fx-background-color: -gentree-dark-selen;
}

#toggleActiveButton {
    -fx-toggle-color: -gentree-greem-markup;
    -fx-untoggle-color: -gentree-dark-green-grey;
    -fx-toggle-line-color: -gentree-greem-markup;
    -fx-untoggle-line-color: -gentree-dark-green-grey;
    -fx-text-fill: -gentree-font-beidge;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.gentree-separator {
    -fx-background-color: #e79423;

}

/*
GT LEAF
 */
