* {
    gentree-color1: rgba(57, 92, 119, 0.32);
    gentree-color2: #c4c0be;
    gentree-color3: #0188AE;
    gentree-color4: #0B4F6C;
}

.transparent-dark {
    -fx-background-color: gentree-color1;
}

.pane-padding-30 {
    -fx-padding: 0px, 40px, 30px, 40px;
}

#family-group-content {
    -fx-padding-top: 50px;
}

.radius-corner-all {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.radius-corner-top {
    -fx-background-radius: 30 30 0 0;
}







