/*
    Colors Definition
*/
.root {

    -gentree-main-backgorund-color: rgb(137, 137, 140);
    -gentree-color-2: #0188AE;
    -gentree-color-3: #0B4F6C;
    -gentree-color-4: #757575;
    -gentree-color-5: #4d5056;
    -gentree-color-6: rgba(251, 251, 255, 0.45);
    -gentree-color-7: rgba(28, 32, 29, 0.40);
    -gentree-color-8: #404A4B;
    -gentree-color-9: #595756;
    -gentree-color-10: #353a41;
    -gentree-color-11: #9E0303;
    -gentree-color-12: #fffbf8;

    /*    -gentree-main-backgorund-color: #3c4f4c;
        -gentree-color-2: #266558;
        -gentree-color-4: #2F3737;
        -gentree-color-5: #404A4B;
        -gentree-color-6: rgba(168, 189, 185, 0.6);
        -gentree-color-7: rgba(28, 32, 29, 0.40);
        -gentree-color-3: #81d136;
        -gentree-color-3: rgba(82, 202, 0, 0.9);
        -gentree-color-8: #404A4B;
        -gentree-color-6: rgba(230, 255, 251, 0.2);
        -gentree-color-9: #ecf2dd;
        -gentree-color-10: #acbdb2;
        -gentree-color-11: #9E0303;
        -gentree-color-3: #214e41;
        -gentree-color-12: #faffd5;
        -gentree-color-12: #c7c5c4;*/

}

/*
    Root Windows
*/
#rootWindow {
    -fx-min-height: 700px;
    -fx-min-width: 1200px;
}

/*
    Commons Panes
 */

.mainAnchorPane {
    -fx-padding: 0 0 0 0;
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-background-image: url("/layout/images/backgrounds/gentreebackground.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
}

.transparentPane {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.darkPane {
    -fx-background-color: -gentree-color-7;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-text-fill: -gentree-color-12;
}

.transparentSplit > .split-pane-divider {
    -fx-background-color: transparent;
    /*-fx-background-color: -gentree-dark-green-grey;*/
    -fx-effect: dropshadow(gaussian, black, 4, 0.1, 0, 0);
}

.transparentPane,
.transparentPane > .viewport {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;

}

.transparentPane .scroll-bar:vertical,
.transparentPane .scroll-bar:horizontal,
.transparentPane .corner {
    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.transparentPane .scroll-bar:vertical .thumb,
.transparentPane .scroll-bar:horizontal .thumb {

    -fx-background-color: derive(-gentree-color-2, 10%);

    -fx-background-insets: 2, 0, 0, 0;

    -fx-background-radius: 2em;
}

.contentPane .scroll-bar:vertical,
.contentPane .scroll-bar:horizontal,
.contentPane .corner {
    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.contentPane .scroll-bar:vertical .thumb,
.contentPane .scroll-bar:horizontal .thumb {

    -fx-background-color: derive(#0188AE, 10%);

    -fx-background-insets: 2, 0, 0, 0;

    -fx-background-radius: 2em;
}

.commonPane {
    -fx-background-color: -gentree-color-6;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: rgba(168, 189, 185, 0.6);
}

.contentPane {
    -fx-background-color: -gentree-color-6;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;

}

.commonPaneType1 {
    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
    -fx-min-width: 300px;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}

.commonPaneType1:pressed {
    -fx-border-color: rgba(168, 189, 185, 0.6);
    -fx-background-color: rgba(168, 189, 185, 0.6);
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.dottedPane {
    -fx-border-color: -gentree-color-8;
    -fx-border-width: 3px;
    -fx-border-style: dashed;
}

/*
    Menu Bar ->  Language Chooser
*/
#languageChooser {
    -fx-background-color: -gentree-color-4;
    -fx-border-color: -gentree-color-2;
    -fx-border-style: dotted;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#languageChooser:showing {
    -fx-background-color: -gentree-color-2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#languageChooser .cell,
#languageChooser .list-view .list-cell {
    -fx-text-fill: -gentree-color-12;
    -fx-padding: 0 10 0 10;
}

#languageChooser .list-view {
    -fx-border-color: -gentree-color-4;
    -fx-background-color: -gentree-color-4;
    -fx-border-style: dotted;
}

#languageChooser .list-view .list-cell {
    -fx-background-color: -gentree-color-4;
    -fx-border-color: transparent transparent -gentree-color-2 transparent;
    -fx-border-style: dotted;
}

#languageChooser .list-view .list-cell:filled:hover,
#languageChooser:hover {
    -fx-background-color: -gentree-color-2;
}

/*
    Menu Bar
*/
#menuBarPane {
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
}

.menu-bar {
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: -gentree-color-4;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu {
    -fx-background-color: -gentree-color-4;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 100px;
    -fx-border-color: -gentree-color-2;
    -fx-border-style: dotted;
}

.menu:hover {
    -fx-background-color: -gentree-color-2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu:showing {
    -fx-background-color: -gentree-color-2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.menu .label, .menu-item .label {
    -fx-text-fill: -gentree-color-12;
    -fx-padding: 0 10 0 10;
}

.menu-item:focused {
    -fx-background-color: -gentree-color-2;
}

.context-menu {
    -fx-background-color: -gentree-color-5;
    -fx-min-width: 150px;
    -fx-border-color: -gentree-color-5;
}

/*
    Welcome Window
 */

/*
    MainApplication Windows -?
*/

#chooseAppType {
    -fx-padding: 0 0 0 0;
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-pref-height: 600px;
    -fx-min-height: 600px;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: 1000px;
    -fx-max-width: -1;
    -fx-background-image: url("/layout/images/backgrounds/TestBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

.projectPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 400px;
}

/*
    Footer
 */

.footer {
    -fx-background-color: -gentree-color-4;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#FOOTER_COPYRIGHTS {
    /*  padding : TOP, RIGHT, BOTTOM, LEFT */
    -fx-alignment: center;
    -fx-text-fill: #E0E4E3;
    -fx-font-size: 20px;
}

/*
    Dialog Pane
 */

.dialog-pane {
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-background-image: url("/layout/images/backgrounds/gentreebackground.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#newProjectDialog {
    -fx-min-height: 250px;
    -fx-pref-height: 250px;
    -fx-max-height: 250px;
    -fx-min-width: 450px;
    -fx-pref-width: 450px;
    -fx-max-width: 450px;
}

#dialogAddMember {
    -fx-min-height: 610px;
    -fx-pref-height: 610px;
    -fx-max-height: 610px;
    -fx-min-width: 500px;
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
}

/*
    Tab Pane
 */

.tabPane {

    -fx-background-color: -gentree-color-6;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.tabPane .tab-header-area .tab-header-background {
    -fx-background-color: -gentree-color-4;
    -fx-background-radius: 10 10 0 0;
}

.tabPane .tab:selected {
    -fx-background-color: -gentree-color-2;
    /*-fx-background-color: -gentree-color-3;*/
    -fx-background-radius: 10 10 0 0;
}

.tabPane .tab:selected .jfx-rippler {
    -fx-rippler-fill: -gentree-color-3;
}

.tabPane .tab-header-area .tab-selected-line {
    -fx-stroke: -gentree-color-3;
}

.tabPane .tab {
    -fx-background-color: -gentree-color-5;
    -fx-background-radius: 10 10 0 0;
}

/*
    JFX  COMMON CONTROLS
 */

.button {
    -fx-background-color: -gentree-color-3;
    -fx-text-fill: -gentree-color-12;
    -fx-font-size: 18px;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
    /* -fx-prompt-text-fill: #c8c8bb;*/
    -fx-prompt-text-fill: -gentree-color-10;
    -fx-text-fill: -gentree-color-9;
    -fx-alignment: top-left;
    -jfx-focus-color: -gentree-color-3;
    -jfx-unfocus-color: -gentree-color-8;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: -gentree-color-11;
    -jfx-unfocus-color: -gentree-color-11;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: -gentree-color-11;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: -gentree-color-11;
    -fx-font-size: 1em;
}

.jfx-text-always-focused {
    -jfx-unfocus-color: -gentree-color-3;
    -fx-prompt-text-fill: -gentree-color-3;
}

#genTreeContent {

}

/*
    Table View  Member and Relations
 */

.firstTypeTable {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.firstTypeTable .filler {
    -fx-background-color: -gentree-color-4;
    -fx-background-radius: 20 20 0 0;

}

.firstTypeTable .column-header-background,
.firstTypeTable .column-header-background:focused,
.firstTypeTable .column-header-background:pressed {

    /* Color of column header (all panel)*/
    -fx-background-color: -gentree-color-4;
    -fx-background-radius: 20 20 0 0;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

}

.firstTypeTable .column-header,
.firstTypeTable .column-header:focused,
.firstTypeTable .column-header:pressed {
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: -gentree-color-4;
}

.firstTypeTable .column-header .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#family_member_table {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

#family_relation_table {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}

.tableMembersAndRelations .cell {
    -fx-border-color: transparent;
}

.tableMembersAndRelations .table-row-cell,
.tableMembersAndRelations:focused .table-row-cell {
    -fx-border-color: transparent transparent linear-gradient(from 0% 0% to 100% 0%,
    transparent 0%,
    -gentree-color-4 30%,
    -gentree-color-4 70%,
    transparent 100%) transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 0 0;

}

.tableMembersAndRelations .scroll-bar:vertical, .tableMembersAndRelations .corner {

    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.tableMembersAndRelations .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.tableMembersAndRelations:focused .table-row-cell:filled:focused:selected,
.tableMembersAndRelations .table-row-cell:filled:focused:selected {
    -fx-background-color: -gentree-color-3;
    -fx-background-insets: 0 0 0 0;
}

.tableMembersAndRelations:focused .table-row-cell:filled:focused:selected .table-cell,
.tableMembersAndRelations .table-row-cell:filled:focused:selected .table-cell {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
}

#family_relation_table .cell {

    -fx-cell-size: 90px;
}

.firstTypeTable .table-cell {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -gentree-color-10;
    -fx-alignment: center;
}

/*
    Toogle Buttons
 */
#anchorToogleButtons {
    -fx-border-color: rgba(168, 189, 185, 0.4);
    -fx-border-width: 3;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.toogleButtonShowTable {
    -fx-background-color: rgba(168, 189, 185, 0.4);
    -fx-text-fill: -gentree-color-12;
    -fx-font-size: 14px;
}

.toogleButtonShowTable:pressed, .toogleButtonShowTable:selected {
    -fx-background-color: -gentree-color-3;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);

}

.imagePane {
    -fx-background-color: -gentree-color-4;
}

/*
    Combobox
 */

.combobox {
    -fx-background-color: -gentree-color-7;
}

.combobox .list-cell {
    -fx-background: rgba(28, 32, 29, 0.6);
    -fx-background-color: transparent;
    -fx-text-fill: -gentree-color-12;
    -fx-padding: 3 0 2 15;
}

.combobox .list-view {
    -fx-background-color: rgba(28, 32, 29, 0.6);
    -fx-background-insets: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combobox .list-cell:hover {
    -fx-background-color: -gentree-color-2;
}

.circle_cb {

    -fx-padding: 0, 0, 0, 0 !important;
    -fx-background-radius: 30, 30, 30, 30;
    -fx-border-radius: 30, 30, 30, 30;
    -fx-background-color: darkgray;
    -fx-border-width: 3;
    -fx-border-color: #fffbf8;
}

.circle_cb .list-cell {
    -fx-padding: 7, 7, 7, 7 !important;
}

.no-opacity:disabled,
.no-opacity:disabled > * {
    -fx-opacity: 0.9;
}

/*
    Ratio Button
 */

.radioButtonFX {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -gentree-color-12;
    -fx-selected-color: -gentree-color-3;
}

/*
        Labels
 */
.label1 {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -gentree-color-10;
}

/*
    Separators
 */

.gentree-separator {
    -fx-background-color: -gentree-color-7;
    -fx-stroke-width: 4;

}

/*
    Custom Button
 */

.addElementButton {
    -fx-border-color: rgba(84, 122, 117, 0.69);
    -fx-background-color: rgba(117, 142, 145, 0.81);
    -fx-background-image: url("/layout/images/backgrounds/new.png");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.78), 10, 0, 0, 0);
    -fx-border-width: 4px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.addElementButton:pressed {
    -fx-background-color: rgba(1, 64, 65, 0.9);
}

.addElementButton:hover {
    -fx-border-color: rgba(1, 64, 65, 0.9);
}

/*
    Custom Pane
 */

#childrenFlowPane {
    -fx-padding: 10px 10px 10px 10px;
}

/*
    Header od Pane
 */
#sim-info-header, #relation-info-header, .header-pane-content {
    -fx-background-color: #156f93;
    -fx-min-height: 30;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-background-radius: 20 20 0 0;
}

.header-pane {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 5);
}

#firstBoule {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#refreshProjectList {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-background-image: url("/layout/images/backgrounds/refreshlist.png");
    -fx-background-position: center;

}

#createNewProject {
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-image: url("/layout/images/backgrounds/newproject.png");
    -fx-background-position: center;

}

.newProjectSphere {
    -fx-border-color: rgba(15, 89, 112, 0.6);
    -fx-background-color: rgba(15, 89, 112, 0.6);
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
    -fx-border-width: 4px;
    -fx-background-radius: 100 100 100 100;
    -fx-border-radius: 100 100 100 100;
}

.newProjectSphere:hover {
    -fx-border-color: -gentree-color-2;
}

.newProjectSphere:pressed {

    -fx-border-color: -gentree-color-2;
    -fx-border-width: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.2, 0, 0);
    /*-fx-border-color: rgba(168, 189, 185, 0.9);*/
}

#buttons-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 200px;
    -fx-pref-height: 500px;
    -fx-min-width: 200px;
    -fx-min-height: 500px;
    -fx-max-width: 200px;
    -fx-max-height: 500px;
    -fx-alignment: bottom-right;
}

/*
   Empty header (without column)
*/

/*
    WelcomeWindow ->  TableView with Projects
*/
#projectsList {
    /* Scroll*/
    /*-fx-base:  -gentree-dark-green-grey ;*/

    /*Cells background*/
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-padding: 0 0 20 0;
    -fx-pref-width: 540px;
    -fx-pref-height: 500px;

}

#projectsList .scroll-bar:vertical, #projectsList .corner {

    -fx-opacity: 10;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#projectsList .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
}

/*
    Column-header
*/
#projectsList .column-header {
    -fx-size: 50;

}

#projectsList .cell {
    -fx-cell-size: 50px;
    -fx-border-color: transparent;
}

#projectsList .column-header .label {
    -fx-font-size: 25pt;
    -fx-padding: 0 0 0 30;

}

#projectsList .table-row-cell,
#projectsList:focused .table-row-cell {
    -fx-border-color: transparent transparent linear-gradient(from 0% 0% to 100% 0%,
    transparent 0%,
    -gentree-color-10 30%,
    -gentree-color-10 70%,
    transparent 100%) transparent;
    -fx-border-width: 2;
    -fx-border-insets: 0 20 0 20;

}

#projectsList .table-cell {
    -fx-font-size: 15pt;
    -fx-padding: 0 0 0 50;
    -fx-alignment: center-left;

}

#projectsList:focused .table-row-cell:filled:focused:selected,
#projectsList .table-row-cell:filled:focused:selected {
    -fx-background-color: -gentree-color-2;
}

#sim_photo {
    -fx-background-color: -gentree-main-backgorund-color;
    -fx-stroke: white;
    -fx-stroke-width: 4;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}

.avatar-shape {

}