<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="">
    <Appenders>
        <File name="logApp" fileName="logs/app.log">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-40.40logger{1.} : %msg%n"/>
        </File>
        <File name="serviceLog" fileName="logs/service.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-30.30logger{1.} : %msg%n"/>
        </File>
        <File name="errorLog" fileName="logs/error.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-40.40logger{1.} : %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="gentree" level="TRACE">
            <appender-ref ref="Console" level="TRACE"/>
            <AppenderRef ref="logApp" level="TRACE"/>
        </Logger>
        <Logger name="gentree.client.desktop.service" level="TRACE">
            <AppenderRef ref="serviceLog" level="INFO"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="errorLog" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>